<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CES_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6DB014E31CC4BC5F0063F5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DB014F41CC4BC5F0063F5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DB014FF1CC4BC5F0063F5DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
